@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

:root {

}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  padding-top: var(--heading-top-padding);
  font-size: 28px;
  font-weight: bold;
}

h3 {
  padding-top: var(--heading-top-padding);
  font-size: 26px;
  font-weight: bold;
}

h4 {
  padding-top: var(--heading-top-padding);
  font-size: 24px;
  font-weight: bold;
}

h5 {
  padding-top: var(--heading-top-padding);
  font-size: 22px;
  font-weight: bold;
}

h6 {
  padding-top: var(--heading-top-padding);
  font-size: 16px;
  font-weight: bold;
}

ul {
  list-style-type: disc;
  padding-left: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
}

hr {
  padding-top: 10px;
}

a > code {
  background-color: lightblue;
  color:blue;
  padding: 2px 4px;
  border-radius: 4px;
}

p + div {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  ul {
    padding-top: 6px;
    padding-bottom:6px;
  }

  hr {
    padding-top: 6px;
  }

  a > code {
    padding: 1px 3px;
    border-radius: 4px;
  }
}